@import "navigation.css";

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #333;
}

p {
    text-align: center;
}

.stream_container {
    text-align: center;
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
}
body button {
    display: none;
}
body label {
    width: 75px;
    display: inline-block;
    background-color: rgb(205, 205, 205);
    color:#333;
    padding: 12px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}
body label:hover {
    background-color: #bbbbbb;
}