
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #333;
}

p {
    text-align: center;
}

.image-container {
    display: none;
    text-align: center;
    margin-top: 20px;
}
.form{
    text-align: center;
    margin-top: 20px;
    background: #bbbbbb;
    /*makes the edges curved putting it at 50% makes it a circle*/
    border-radius: 15px;
}
.image-container img {
    background: #ccc;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.caption {
    margin-top: 10px;
    text-align: center;
    color: #666;
}
.form label{
    display: block;
    width: 200px;
    background-color: rgb(255, 255, 255);
    color:#333;
    padding: 12px;
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
}
.form input{
    display: none;
}