<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Face Detector</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/face_detector.css')}}">
  </head>
  <!--Links to all Pages-->
  <nav>
    <ul>
      <li><a href="/" id="back">Go to Home Page</a></li>
      <li><a href="/face_detector">Face Detector</a></li>
      <li><a href="/translation">Translation</a></li>
      <li><a href="/image_captioning">Image Captioning</a></li>
    </ul>
  </nav>
    <div class="container">
    <!--Image we will be updating with YOLO image frames-->
        <h1>Live Streaming</h1>
        <!-- For Inference and Displaying -->
        <video id="video" autoplay></video>
        <canvas id="video_capture"></canvas>
        <img id="face_detector" width="50%"></img>
        <div>
        <!-- For starting and stopping the feed -->
        <button type="button" class="start_button" id="start_button">Start</button>
          <label for="start_button">Start</label>
          <button type="button" class="stop_button" id="stop_button">Stop</button>
          <label for="stop_button">Stop</label>
        </div>
        <!--Javascript to ask for permissions-->
        <script>
          // Pass the URL to the JavaScript
          $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <script src="{{ url_for('static',filename='script/face_detector.js') }}">
        </script>
    </div>
</html>